﻿body {
    font-family:'Times New Roman', Times, serif;
}
.title_div {
    margin-top:10px;
    background-color: #a54f50;
    width: 300px;
    heigth:50px;
    height: 100px;
    text-align:center;
    
}
    .title_div > h1 {
        color: white;
        font-size: 3em;
        margin:auto
    }
h4{
    left:1000px;
    font-size:12px;
}
#del_btn{
   background-color:cadetblue;
   color:white;
   position:absolute;
}
#edit_btn{
    background-color:limegreen;
    position:relative;
    float:right;
}
#edit_btn >a{
    text-decoration:none;
    color:white;
}
#content_div{
    border:solid;
    margin-top:10px;
}
