﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="NavBar.ascx.cs" Inherits="FinalProject_N01293906.UserControls.NavBar" %>

<asp:SqlDataSource 
    runat="server" 
    ID="pages_list_pick"
    ConnectionString="<%$ ConnectionStrings:blog_sql_con %>">
</asp:SqlDataSource>
<ul ID="page_link" 
    runat="server" 
    class="nav navbar-nav" >
 </ul>